Nominal encoding is a technique used in machine learning and statistics to convert categorical data, specifically nominal data, into a numerical format that can be fed into machine learning algorithms. Nominal data consists of categories with no inherent order or ranking between them.

## One-Hot Encoding:

* In one-hot encoding, each category is represented as a binary vector. Each category gets a unique binary representation, and only one bit is set to 1 for the corresponding category, while all others are set to 0. This creates a sparse matrix where each category is represented as a unique vector.

Disadvantage
* It creates a sparse matrix,it usually leads to Overfitting.
* If we have 1000 categories then more 1000 features will be created. Thus leading to lack in performance of model.
* Not recommended for dataset consisting of huge no. of features

In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [5]:
df = pd.DataFrame({
    'color': ['red','blue','green','green','red','blue']
})
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [6]:
## Create an instance of OneHotEncoder 
encoder = OneHotEncoder()

In [12]:
# Fit the encoder to the dataframe and tranform the categorical variable.
encoded = encoder.fit_transform(df[['color']])

In [15]:
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [16]:
pd.concat([df,encoded_df],axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0