## Target Guided Ordinal Encoding

* Target Guided Ordinal Encoding is a method of encoding categorical variables in a way that reflects the relationship between the categories and the target variable. This technique is often used in predictive modeling tasks where the goal is to predict a target variable based on features, and the categorical variable needs to be encoded into numerical values.

In [2]:
import pandas as pd

# create a sample dataframe with a categorical variable and a target variable
df = pd.DataFrame({
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
    'price': [200, 150, 300, 250, 180, 320]
})
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [3]:
## calculate the mean price for each city
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [ ]:
## replace each city with its mean price
df['city_encoded']=df['city'].map(mean_price)